<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
    <div class="navbar-header">
        <ul class="nav navbar-nav">
<li><img href="/" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTA58iBvW_sdaxTtxbVaR6wnfIEXIE2jQuzdHLxmOwoUDVMgzm-" height="30%" width="30%"></li>
            <li><a href="/">Awaiting Fulfillment</a></li>
            <li><a href="/dropship">Dropship Requested</a></li>
            <li><a href="/awaitingOverdue">Overdue - Awaiting</a></li>
            <li><a href="/dropshipOverdue">Overdue - Dropship</a></li>
            <li><a href="/awaitingStarfish">Starfish</a></li>

        </ul>
    </div>

</div>
</nav>